<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coronavirus log graphs for Poland</title>
<!--import script files needed from plotly and bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>


<div class="row">

    <!--social media buttons column-->
    <div class="col-1 border-right">
        <div id="githublink" class="ml-3 mt-2">
            <a href="https://github.com/minusion23">
                <img src="../static/img/githublogo.png" alt="github" class="img-fluid ml-2">
            </a>
        </div>
    </div>
    <div class="col-11">
        <h2 class="mt-2 text-center"> This pages shows the current deaths and new cases for COVID in Poland</h2>
        <h4 class =" mt-4 text-center text-muted"> All values have been mapped onto a log scale graph</h4>

        <div id="charts" class="container mt-3 text-center">

            <div class="row">
                <div class="col-6">
                    <div id="{{ id[0] }}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ id[1] }}"></div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
<div id="footer" class="container"></div>

<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>
</html>